@import url("https://mosher.mine.nu/uniwebfonts/css/solarized.css");
@import url("https://mosher.mine.nu/uniwebfonts/css/fonts.css");
@import url("https://mosher.mine.nu/tei/tei.css");

/* don't start div's on a new line */
div {
    display: inline;
}

/* unordered lists: no bullets, no padding start */
ul {
    list-style-type: none;
    padding-inline-start: unset;
}

/* columnar lists */
ul.columnar {
    column-width: 12em;
}

/* don't underline or dis-color links */
a {
    text-decoration: unset;
    color: unset;
}

/* but highlight when hovering over links */
a:hover {
    color: var(--sol-base01);
    background-color: #d4398240 /*solarized magenta + alpha*/;
}

/* highlight targets */
:target {
    color: var(--sol-base03);
    background-color: var(--sol-base2);
}

table {
    border-collapse: collapse;
}

tbody {
    vertical-align: baseline;
}

/* make rows in table easier to follow when reading across the page */
tr:nth-child(5n) {
    border-bottom: 1px dotted var(--sol-base1);
}

/* paragraph: remove block margins */
p {
    margin-block-start: unset;
    margin-block-end: unset;
}

.smaller {
    font-size: smaller;
}

.hanging {
    text-indent: -2em;
    padding-left: 2em;
}

.indent {
    text-indent: 2em;
}

.blockindent {
    padding-left: 4em;
}
