/* don't start div's on a new line */
div {
    display: inline;
}

/* unordered lists: no bullets, no padding start */
ul {
    list-style-type: none;
    padding-inline-start: unset;
}

/* columnar lists */
ul.columnar {
    column-width: 12em;
}

/* don't underline or dis-color links */
a {
    text-decoration: unset;
    color: unset;
}

/* but highlight when hovering over links */
a:hover {
    background-color: aqua;
}

/* highlight targets */
:target {
    background-color: yellow;
}

table {
    border-collapse: collapse;
}

tbody {
    vertical-align: baseline;
}

/* make rows in table easier to follow when reading across the page */
tr:nth-child(5n) {
    border-bottom: 1px solid lightgray;
}

/* paragraph: indent, and remove block margins */
p {
    margin-block-start: unset;
    margin-block-end: unset;
}

.hanging {
    text-indent: -2em;
    padding-left: 2em;
}

.indent {
    text-indent: 2em;
}
