/* some text styles */
.rend-smaller {
    font-size: smaller;
}

.rend-nowrap {
    white-space: nowrap;
}

.rend-indent {
    text-indent: 2em;
}

.rend-hanging {
    text-indent: -2em;
    padding-left: 2em;
}

.rend-eqlines {
    line-height: 1.4;
}

.rend-hi-0 {
    color: var(--sol-violet);
}

.rend-hi-1 {
    color: var(--sol-magenta);
}

.rend-hi-2 {
    color: var(--sol-cyan);
}

.rend-hi-3 {
    color: var(--sol-yellow);
}
